html,
body {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
  height: 80px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}
#user__data {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.welcome-message {
  height: 40px;
  text-align: center;
  font-size: 20px;
}
.message-box {
  height: 150px;
  border-radius: 15px;
}
.message-box__coupon,
.message-box__totalPayAmount,
.message-box__grade {
  font-size: 18px;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.order_img {
  width: 70px;
  height: 70px;
}
.list_son {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  border: solid 0.5px black;
  align-items: center;
}
.list_div_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_div_info_div {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.list_div_status {
  padding-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#findOrder,
#userEditBox,
#signOut {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

/* 폼*/
.signOut_form {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 50px 20px;
  border-radius: 15px;
}
.holder_center {
  position: absolute;
  top: 30%;
  left: 40%;
  animation: hide 1;
  z-index: 3;
}
