html,
body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 40px;
}

.container {
  margin: 40px;
}

.welcome-message {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}


.order_img{
  width: 70px;
  height: 70px;
}
.list_son{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  border: solid 0.5px black;
  align-items: center;
}
.list_div_info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list_div_info_div{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.list_div_status{
  padding-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* 회원탈퇴폼*/
.signOut_form{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 50px 20px;
  border-radius: 15px;
}