<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hugging</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="mypage.css" />
    <script src="mypage.js" type="module" defer></script>
    <script src="signOut.js" type="module" defer></script>

    <!-- 헤더 푸터 불러오기 -->
    <link rel="stylesheet" href="../public/header/header.css" />
    <link rel="stylesheet" href="../public/footer/footer.css" />

    <script src="../public/loadHTML.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- 헤더 삽입 -->
    <script>
      if (sessionStorage.getItem("loggedIn") === "true") {
        loadHTML("../public/header/loggedInHeader.html");
      } else {
        loadHTML("../public/header/header.html");
      }
    </script>

    <main class="container">
      <p class="title">마이페이지</p>
      <p class="welcome-message" data-id="" id="welcome-message">
        ***님 반갑습니다
      </p>
      <div class="message-box is-three-quarters box">
        <!-- <p class="message-box__grade">회원등급: VIP</p> -->
        <!-- <p class="message-box__Purchase-amount">
          총 구매금액은 100,000원입니다.
        </p> -->
      </div>

      <div class="buttons">
        <button id="findOrder" class="buttons__order-check button is-light">
          주문 조회
        </button>
        <button class="buttons__modyfing-info button is-light">
          정보 수정
        </button>
        <button id="signOut" class="buttons__Withdrawal button is-light">
          회원 탈퇴
        </button>
      </div>

      <section id="mypage__findContainer">
        <div>
          <h2 id="clicked_title">주문 조회</h2>
          <p id="clicked_descript">구매내역</p>
          <!-- 리스트들은 아래 div의 html임 -->
          <div id="list_mom">
            <!-- <form id="signOut_form">
              <small>회원 탈퇴를 위하여 입력란에 '탈퇴'를 넣어주세요</small>
              <input
                type="text"
                id="signout_accept"
                placeholder="'탈퇴'를 입력해주세요"
              />
              <input type="submit" value="제출" />
            </form> -->
          </div>

          <!-- 여기서부터추가되는디브임 -->
          <!-- <div>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSThD05wMOmwEeu3Vbe94JDBhWpHBnB--VXXA&usqp=CAU"
            />
            <div>
              <p>의자</p>
              <span>150000</span><span>| 날짜</span>
              <p>배송준비중</p>
            </div>
            <div>
              <button>주문 취소</button>
            </div>
          </div> -->
          <!-- 여기까지 -->
        </div>
      </section>
    </main>

    <!-- footer 삽입-->
    <script>
      loadHTML("../public/footer/footer.html");
    </script>
  </body>
</html>
