<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hugging</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="product-detail.js" type="module" defer></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <img src="chair.jpg" alt="chair image">
        <div class="container">
          <span class="title">
            Le Corbusier LC Chair
          </span>
          <span class="tag is-danger is-light">
            Sale
          </span>
          <p class="subtitle">
            960,000원
          </p>
          <span>
            배송 방법 
          </span>
          <span>
            택배
          </span>
          <br>
          <span>
            배송비 무료 
          </span>
          <span>
            (50,000원 이상 무료배송)
          </span>
        </div>
        <div class="container">
          <div class="dropdown is-active">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>수량</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  1
                </a>
                <a class="dropdown-item">
                  2
                </a>
                <a href="#" class="dropdown-item is-active">
                  3
                </a>
                <a href="#" class="dropdown-item">
                  4
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  more
                </a>
              </div>
            </div>
          </div>
          <input class="button is-small" type="submit" value="장바구니">
          <input class="button is-small" type="submit" value="바로구매">
        </div>
        <div class="tabs is-centered">
          <ul>
            <li class="is-active"><a>상세정보</a></li>
            <li><a>구매평(0)</a></li>
            <li><a>Q&A(0)</a></li>
          </ul>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac posuere lorem. Praesent mattis tortor a imperdiet viverra. Sed semper vulputate tortor, vel porttitor eros egestas at. Donec auctor vitae ipsum eu lobortis. Morbi nec mattis nisl, id vehicula velit. Sed tempus, magna et venenatis sollicitudin, leo enim pharetra urna, sed pretium erat velit eget purus. Maecenas imperdiet nibh velit, a molestie risus scelerisque sed. Nulla et leo semper, auctor ex nec, scelerisque mi. Praesent quis dolor eget felis vehicula facilisis et nec velit. Nulla est justo, ullamcorper non dolor ut, tempor vehicula purus. Duis cursus, leo eget congue efficitur, massa neque iaculis libero, ut posuere tortor quam non justo.

Aenean eu eleifend ante. Morbi interdum nunc sapien, eu ornare nisl molestie in. Donec dolor sapien, semper ullamcorper enim non, viverra dignissim ex. Nunc vel augue eu nulla malesuada varius. Nullam auctor tortor sit amet velit luctus tincidunt. Phasellus cursus, tortor eget posuere scelerisque, lorem quam elementum enim, blandit cursus turpis felis quis libero. Proin et posuere enim. Aenean in felis eu lorem dapibus tempus. Duis consectetur ex eget maximus posuere. Etiam eget tellus vel eros mollis pharetra et id libero. Maecenas sit amet aliquet ex, eleifend ullamcorper odio. Fusce molestie ipsum metus, quis aliquam nunc mollis ac.

Fusce ut dolor tempus augue pellentesque posuere vitae ac enim. Suspendisse pulvinar, augue quis faucibus pulvinar, mauris elit elementum nunc, at pharetra leo libero sed ipsum. Vivamus lectus libero, bibendum ut rhoncus sed, aliquet a sem. In vestibulum pretium enim ut scelerisque. In semper iaculis urna sed congue. Morbi quis velit ac urna cursus dignissim. Vivamus a turpis tortor. Pellentesque quis tristique libero. Nunc nec tortor a est pharetra tincidunt ut in arcu. Sed laoreet est id massa finibus malesuada. Duis pretium aliquet nisl efficitur ornare. Duis nec orci nec tellus porttitor pharetra. Quisque id est vitae tellus tempus pharetra sed quis lectus. Maecenas imperdiet ut felis nec venenatis. Nam sodales turpis ut justo suscipit, eleifend congue magna lacinia. Aliquam volutpat diam non turpis pulvinar, a volutpat eros congue.

Nulla imperdiet dolor sed est tincidunt dignissim. Etiam eros tellus, ornare vitae urna vitae, mattis congue urna. Nulla dictum neque leo, a mattis tellus egestas vel. Nam vel posuere ex. Curabitur ac metus commodo, placerat risus id, aliquet quam. Pellentesque maximus augue luctus, efficitur nunc ac, pulvinar ex. Proin placerat a odio varius venenatis. Praesent gravida mi auctor orci sollicitudin, molestie pretium ex rutrum. Donec sit amet feugiat justo, non luctus nulla. Fusce sed urna eu augue semper imperdiet. Donec non fermentum lectus, sit amet elementum quam.

Vivamus quis congue elit. Fusce consectetur sem quis neque tincidunt pulvinar. Duis aliquam, felis vel commodo placerat, nisl ante accumsan eros, luctus interdum nisl purus eu magna. Nam a interdum justo. Sed dui nulla, congue id facilisis lacinia, ullamcorper quis urna. Pellentesque sed tempus risus. Suspendisse tristique odio purus, varius pellentesque orci finibus vitae. Suspendisse quis ultrices sem. Morbi tristique, nunc non tempus volutpat, odio risus fermentum erat, vel faucibus orci augue sed purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In lacinia, urna a dictum pulvinar, quam libero ultrices lacus, eu hendrerit urna ante ac leo. Quisque eu metus ex. Mauris elementum, justo a malesuada convallis, eros velit condimentum velit, at venenatis orci neque nec lorem. Duis ullamcorper euismod enim, a feugiat eros euismod eu.
      </div>
    </section>
  </body>
</html>
    <!-- 제품 상세 설명 카드 -->

