html,
body {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #eae9e6;
}
a:link{
  color:#4a4a4a;
  text-decoration: none;
}
a:visited{
  color:#4a4a4a;
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;
}
.navbarItem{
  padding: 10px;
}
#navbar {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
}

#offcanvasScrolling {
  background-color: rgb(159, 132, 115);
  /* color: #bbbbbb; */
  color: black;
}
#categoryUserInfo {
  position: absolute;
  top: 130px;
  left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

#categoryMom {
  position: absolute;
  top: 210px;
  left: 20px;
}
#categoryMom p {
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 1px black;
  margin-bottom: 15px;
}
#categoryMom li {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
  color: #705d57;
}
.title-text {
  font-size: 100px;
  font-family: "Cinzel", serif;
}
.title-container {
  margin-top: 40px;
}
#toggleBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
  padding: 30px 30px;
}
