html,
body {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #BBBBBB;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;
}

#navbar {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-text {
  font-size: 100px;
}
