html,
body {
  margin: 0;
  padding: 0;
}

main {
  height: auto;
  min-height: 100%;
}
#admin-title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 20px 20px;
}

#main-container {
  display: flex;
  height: 100%;
}

#side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20px;
}

#side-bar > div {
  margin-bottom: 10px;
  height: 60px;
}

#list-container {
  margin: 0 30px 0 30px;
  width: 100%;
}
.orderBox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 228, 228);
  margin-bottom: 10px;
  width: 100%;
}

.orderBox_order,
.orderBox_btn {
  width: 33%;
}

.orderBox_btn {
  display: flex;
  flex-direction: column;
}

table,
td,
th {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: rgb(219, 207, 190);
  color: #fff;
}

#productsListBox {
  margin-bottom: 20px;
}

/* #productDetailBox {
  height: 40%;
} */

#modal-container__inner {
  position: absolute;
  background-color: rgb(253, 194, 194);
  padding: 100px;
  top: 30%;
  left: 40%;
  animation: hide 1;
  z-index: 3;
}

#catefory-btn__add {
  border: 0;
  outline: 0;
}
