@import "../variable.css";

html,
body {
  margin: 0;
  padding: 0;
}

main {
  height: auto;
  min-height: 100%;
}

#admin-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0 50px 20px;
  color: var(--darkBrown);
}

#main-container {
  display: flex;
  height: 100%;
}

#side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20px;
}

#order-btn,
#items-btn,
#category-btn {
  cursor: pointer;
  font-size: 18px;
  color: var(--darkBrown);
  margin-bottom: 20px;
  height: 80px;
}

#list-container {
  margin: 0 30px 0 30px;
  width: 100%;
}

/* 주문 관리 */
/* 큰 박스 */
.orderBox {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  padding: 10px;
  border: solid 1px var(--brown);
  max-width: 1000px;
}
/* 작은 박스들 */
.orderBox_order,
.orderBox_user {
  width: 20%;
}

.orderBox_btn {
  display: flex;
  flex-direction: column;
  width: ;
}

table,
td,
th {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: rgb(219, 207, 190);
  color: #fff;
}

#productsListBox {
  margin-bottom: 20px;
}

/* #productDetailBox {
  height: 40%;
} */

#modal-container__inner {
  position: absolute;
  background-color: rgb(195, 228, 238);
  padding: 100px;
  border-radius: 20px;
  border: #333 solid;
  top: 30%;
  left: 20%;
  animation: hide 1;
  z-index: 3;
}

#catefory-btn__add {
  border: 0;
  outline: 0;
}

#modalTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 페이지네이션 */
.hidden {
  display: none;
}
#page_list {
  position: absolute;
  top: 300px;
  left: 250px;
  display: flex;
  flex-direction: row;
}
#page_list div {
  padding: 9px;
  margin-left: 5px;
  cursor: pointer;
}
#page_list div:hover {
  padding: 9px;
  margin-left: 5px;
  background-color: gray;
}
