html,
body {
  margin: 0;
  padding: 0;
}
.carousel-inner {
  height: 600px;
}
.carousel-item {
  height: 100%;
}
.d-block {
  height: 100%;
}
.bestTitle{
  font-family: 'Cinzel', serif;
  font-size:  xx-large;
  margin:20px;
}
.containerLayout{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

/* 홈 그리드 레이아웃 */
.containerLayout div img{
  width: 256px;
  height: 256px;
  padding: 5px 5px;
  background-color: gray;
  border-radius: 10px;
}
.containerLayout div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerLayout div div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.containerLayout div h3 {
  font-size: large;
  padding-top: 10px;
  font-weight: bolder;
}
.containerLayout div small {
  padding-left: 5px;
  color: brown
}
.containerLayout div p {
  color: blueviolet;
  padding-right: 5px;
  font-weight: 600;
}
.newTitle{
  font-family: 'Cinzel', serif;
  font-size: xx-large;
  margin: 50px 20px;
}
.splashHide{
  display: none;
}
.splashImg{
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  animation: splash 1s 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes splash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

