html,
body {
  margin: 0;
  padding: 0;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-inner {
  height: 600px;
}
.carousel-item {
  height: 100%;
}
.d-block {
  height: 100%;
}
.bestTitle{
  font-size:  xx-large;
  margin:20px;
}
.bestContainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* .bestItem{
  margin:20px;
  width: 400px;
  height:400px;
} */
.newTitle{
  font-size: xx-large;
  margin: 50px 20px;
}
