html, body {
  margin: 0;
  padding: 0;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.greeting {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
}

.carousel-inner{
  height:600px; 
}
.carousel-item{
  height:100%;
}
.d-block {
  height: 100%;
}

.container {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item{
  border:1px solid black;
  margin: 20px;
  width:400px;
  height:430px;
}