@import "../variable.css"; 
.main {
  height: auto;
  min-height: 100%;
}
.button.is-info {
  font-size: 20px;
  background-color:var(--brown) ;
}
.button.is-info:hover {
  background-color:#86786c ;
}
.button#submitKaKaoButton {
  background: url("./kakao_logo.png") no-repeat;
  background-size: 600px 70px;
}
.title {
  font-size: 35px;
  margin-top: 60px;
  text-align: center;
  color: var(--darkBrown);
}
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
.login-form-box {
  width: 40rem;
  height: 30rem;
  padding: 30px;
}
.login-form-box .title {
  text-align: center;
}
.login-form-box .button {
  font-weight: bold;
}
.label{
  font-size: 20px;
}
.field{ 
  margin: 20px;
}
#submitButton{
  margin-top: 60px;
  height: 50px;
}
.button{
  font-family: 'MaruBuri-Regular';
}

