<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hugging</title>
    <!-- 햄버거바 넣기 -->
    <script src="/hugging/public/header/hbgBar.js" type="module" defer></script>
    <script src="./findPw.js" type="module" defer></script>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/hugging/public/img/Hugging-favicon.png"
    />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="login.css" />
    <script src="./login.js" type="module" defer></script>
    <link rel="stylesheet" href="/hugging/public/header/header.css" />
    <link rel="stylesheet" href="/hugging/public/footer/footer.css" />
    <script src="/hugging/public/loadHTML.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <script>
      if (localStorage.getItem("loggedIn") === "true") {
        loadHTML("/hugging/public/header/loggedInHeader.html");
      } else {
        loadHTML("/hugging/public/header/header.html");
      }
    </script>
    <main class="main">
      <h1 class="title">로그인</h1>
      <!-- 로그인 폼(Form) -->
      <div class="login-form-container">
        <form class="box login-form-box" id="loginForm" method="post">
          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="abc@example.com"
                autocomplete="on"
              />
            </div>
          </div>

          <div class="field mb-5">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
          </div>

          <div id="findPw">비밀번호 찾기</div>

          <button class="button is-info is-fullwidth" id="submitButton">
            로그인하기
          </button>
          <br />

          <button class="kakaoLoginBtn button" id="submitKaKaoButton">
            <i class="fas fa-comment fa-lg" id="kakaoLoginBtn_icon"></i>
            <p id="kakaoLoginBtn_name">&nbsp&nbsp카카오톡 로그인</p>
          </button>
        </form>
      </div>
      <div class="hidden" id="findpw_box">
        <div id="findwPwForm"></div>
        <div id="emailAuth"></div>
        <div class="hidden" id="autnNum">
          <input id="authEmail" placeholder="인증번호 입력" />
          <button id="authEmailBtn">인증하기</button>
        </div>
        <div class="hidden" id="newPw">
          <input id="newpwInput" placeholder="새로운 비밀번호 입력" />
          <button id="newpwSubmit">변경</button>
        </div>
      </div>
    </main>
    <script>
      loadHTML("/hugging/public/footer/footer.html");
    </script>
  </body>
</html>
