<!DOCTYPE html>
<html lang="ko" readonly="readonly">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./sosialTerminal.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <script src="sosialTerminal.js" type="module"></script>
    <title></title>
  </head>
  <body>
    <div class="spinnerBox">
      <div class="spinner"><i class="fas fa-spinner fa-10x"></i></div>
    </div>
  </body>
</html>
