      .spinnerBox {
        position: absolute;
        top: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .spinner {
        animation: spin 2s linear infinite;
      }
      .spinner svg {
        width: 35px;
        height: 35px;
      }

      @keyframes spin {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }