<!DOCTYPE html>
<html lang="ko" readonly="readonly">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/img/Hugging-favicon.png"
    />
    <link rel="stylesheet" href="./sosialTerminal.css" />
    <script src="sosialTerminal.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <title></title>
  </head>
  <body>
    <div class="spinnerBox">
      <div class="spinner"><i class="fas fa-spinner fa-10x"></i></div>
    </div>
  </body>
</html>
